<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= config.title %></title>
  <style>
    :root {
      --base-font: 16;
      <% [2, 4, 8, 16, 24, 32, 40].forEach((step) => { %>
        <%= `--space-${step}: calc(${step} / var(--base-font) * 1rem);` %>
      <% }) %>
      --header-bar-color: rgb(35, 103, 176);
      --header-color: #fff;
      --link-color: rgb(35, 103, 176);
      --link-hover-color: rgba(35, 103, 176, 0.1);
      --border-color: #e0e0e0;
      --border-radius: var(--space-4);
    }

    /* minimal CSS reset */
    html {
      box-sizing: border-box;
      font-size: var(--base-font);
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }

    ol, ul {
      list-style: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    code {
      font-family: 'Courier New', Courier, monospace;
      font-size: .9rem;
    }
    /* end CSS reset */

    body {
      display: grid;
      grid-template-areas:
        "header header"
        "nav main";
      grid-template-columns: 12rem 1fr;
    }

    .page__header {
      grid-area: header;
      background-color: var(--header-bar-color);
      padding: var(--space-16) var(--space-32);
    }

    .page__title {
      color: var(--header-color);
      font-weight: bold;
    }

    .page__nav {
      grid-area: nav;
    }

    .nav {
      position: sticky;
      top: 0;
      padding: var(--space-32);
    }

    .nav ul {
      padding-left: var(--space-16);
    }

    .nav__link {
      display: block;
      color: var(--link-color);
      text-decoration: none;
      padding: var(--space-2) var(--space-8);
      margin-left: calc(-1 * var(--space-8));
      margin-right: calc(-1 * var(--space-8));
    }

    .nav__link:hover,
    .nav__link:focus {
      background-color: var(--link-hover-color);
      border-radius: var(--border-radius);
    }

    .page__main {
      grid-area: main;
      padding: var(--space-32);
      width: 100%;
      max-width: 60rem;
    }

    .introduction {
      font-size: 1.5rem;
    }

    .introduction + .what-are-tokens {
      margin-top: var(--space-16);
    }

    .section__title {
      font-size: 2rem;
      font-weight: bold;
      margin-top: var(--space-40);
      margin-bottom: var(--space-8);
    }

    .section__description {
      margin-top: var(--space-8);
      margin-bottom: var(--space-8);
    }

    .group__title {
      font-weight: bold;
      margin-top: var(--space-24);
      margin-bottom: var(--space-8);
    }

    .group__description {
      margin-top: var(--space-8);
      margin-bottom: var(--space-8);
    }

    /* Display tokens in a table */

    .group__table {
      border-collapse: collapse;
      min-width: 100%;
    }

    .group__table th {
      font-size: 0.8rem;
    }

    .group__table th,
    .group__table td {
      border-bottom: 1px solid var(--border-color);
      text-align: left;
      padding-top: var(--space-8);
      padding-bottom: var(--space-8);
    }

    .group__table th:nth-child(1) {
      width: 40%;
    }
    .group__table th:nth-child(2) {
      width: 20%;
    }

    .group__table th:nth-child(2),
    .group__table td:nth-child(2) {
      padding-left: var(--space-16);
      padding-right: var(--space-16);
    }

    /* Display tokens in a grid, where each item is bordered */

    .group__grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: var(--space-16);
      column-gap: var(--space-16);
    }

    <% [1, 2, 3, 4].forEach((columns) => { %>
      <%= `.group__grid--${columns} { grid-template-columns: repeat(${columns}, 1fr); }` %>
    <% }) %>

    .group__grid-item {
      display: grid;
      row-gap: var(--space-16);
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      padding: var(--space-8);
    }

    /* icons box */
    .icon-item { text-align: center; row-gap: 0; }
    /* change default order (name-sample-value) to sample-name-value */
    .icon-item > div:nth-child(1) { grid-row: 2 / 3; margin-top: var(--space-8); }
    .icon-item > div:nth-child(2) { grid-row: 1 / 2; }

    /* Token parts */

    .value {
      display: block;
    }

    .comment {
      font-size: 0.8rem;
      font-style: italic;
    }

    /* Token Samples */

    /* boxed */
    .sample__swatch,
    .sample__border,
    .sample__border-radius,
    .sample__shadow {
      height: 40px;
      width: 100%;
      border-radius: var(--border-radius);
    }

    /* bordered! */
    .sample__border,
    .sample__border-radius {
      border-width: 1px;
      border-style: solid;
    }

    .sample__square {
      background-color: currentColor;
      border-radius: var(--border-radius);
    }

    .sample__font-family {
      font-size: 1.3rem;
    }

    .sample__icon {
      display: block;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <header class="page__header">
    <h1 class="page__title"><%= config.title %></h1>
  </header>
  <nav class="page__nav">
    <%- include('/layout/nav', { sections: config.sections }) %>
  </nav>
  <main class="page__main">
    <% if (config.introduction) { %>
      <p class="introduction"><%= config.introduction %></p>
      <details class="what-are-tokens">
        <summary>What are design tokens?</summary>
        <p>Lorem impsum</p>
      </details>
    <% } %>
    <% config.sections.forEach((section) => { %>
      <%- include('/layout/section', { section }) %>
    <% }) %>
  </main>
</body>

</html>
